accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
anyio
appnope
astor
asttokens
attrs
babe
beartype
bertopic
better-abc
bidict
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
config2py
contourpy
cuda-bindings
cuda-pathfinder
cycler
datasets
debugpy
decorator
dill
distro
docstring-parser
dol
einops
executing
fancy-einsum
fastjsonschema
filelock
fonttools
frozenlist
fsspec
genai-prices
gitdb
gitpython
google-transliteration-api
googletrans
graze
griffelib
h11
h2
hdbscan
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
i2
idna
importlib-metadata
importlib-resources
ipykernel
ipython-pygments-lexers
ipython
jaxtyping
jedi
jinja2
jiter
joblib
jsonschema-specifications
jsonschema
jupyter-client
jupyter-core
kiwisolver
langcodes
language-data
llvmlite
logfire-api
lxml
marisa-trie
markdown-it-py
markupsafe
matplotlib-inline
matplotlib
mdurl
mpmath
multidict
multiprocess
narwhals
nbformat
nest-asyncio
networkx
nltk
nnsight
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
openai
opentelemetry-api
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
plotly-express
plotly
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
py2store
pyarrow
pycparser
pydantic-ai-slim
pydantic-core
pydantic-graph
pydantic-settings
pydantic
pygments
pynndescent
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
pyyaml
pyzmq
referencing
regex
requests
rich
rpds-py
sae-lens
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
sentry-sdk
setuptools
shellingham
simple-parsing
simple-websocket
six
smmap
sniffio
stack-data
statsmodels
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traitlets
transformer-lens
transformers-stream-generator
transformers
triton
typeguard
typer
typing-extensions
typing-inspection
tzdata
umap-learn
unidecode
urllib3
wadler-lindig
wandb
wcwidth
websocket-client
wsproto
xxhash
yarl
zipp
zstandard
