accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
anyio
astor
asttokens
attrs
bidict
certifi
charset-normalizer
click
cloudpickle
colorama
cuda-bindings
cuda-pathfinder
datasets
decorator
dill
distro
docstring-parser
executing
filelock
frozenlist
fsspec
genai-prices
google-transliteration-api
googletrans
griffelib
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib-metadata
ipython-pygments-lexers
ipython
jedi
jinja2
jiter
langcodes
language-data
logfire-api
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
narwhals
networkx
nnsight
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
openai
opentelemetry-api
packaging
pandas
parso
pexpect
plotly
prompt-toolkit
propcache
psutil
ptyprocess
pure-eval
pyarrow
pydantic-ai-slim
pydantic-core
pydantic-graph
pydantic-settings
pydantic
pygments
python-dateutil
python-dotenv
python-engineio
python-socketio
pyyaml
regex
requests
rich
safetensors
setuptools
shellingham
simple-websocket
six
sniffio
stack-data
sympy
tiktoken
tokenizers
toml
torch
tqdm
traitlets
transformers
triton
typer
typing-extensions
typing-inspection
tzdata
unidecode
urllib3
wcwidth
websocket-client
wsproto
xxhash
yarl
zipp
zstandard
